name: Docker Image CI for GHCR

on: push

jobs:
  build_and_publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: npm install
        run: npm ci
      - name: run unit tests
        run: npm test
      - name: Build and push the image to GHCR
        run: |
          docker login --username Neha-Reddy-08 --password ${{secrets.ACCESS_TOKEN}} ghcr.io
          docker build -t ghcr.io/neha-reddy-08/arithmetic-service:latest --file Dockerfile .
          docker push ghcr.io/neha-reddy-08/arithmetic-service:latest
      - name: Publish the image to Azure Container Registry
        run: |
          docker login --username SEpracticum15 --password ${{secrets.AZURE_CONTAINER_REGISTRY}} SEpracticum15.azurecr.io
          docker tag ghcr.io/Neha-Reddy-08/arithmetic-service:1 SEpracticum15.azurecr.io/arithmetic-service:1
          docker push SEpracticum15.azurecr.io/arithmentic-service:1
