name: Docker Image CI for GHCR

on: push

jobs:
  build_and_publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2 # Update to v2 or later
      - name: Set up Node.js
        uses: actions/setup-node@v3 # Update to v3 or later
        with:
          node-version: "14"
      - name: Build and push the image
        run: |
          docker login --username Neha-Reddy-08 --password ${{secrets.ACCESS_TOKEN}} ghcr.io
          docker build -t ghcr.io/Neha-Reddy-08/arithmetic-service:latest --file Dockerfile .
          docker push ghcr.io/Neha-Reddy-08/arithmetic-service:latest
